.box {
  display: flex !important;
  gap: 10px;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}
.box button {
  font-size: medium;
  font-weight: bold;
  background: none;
  cursor: pointer;
  height: 2.5rem;
  width: 6rem;
  border: 2px solid;
  border-radius: 5px;
}

.cnContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-btn {
  background-color: #d9edf7;
  color: #31708f;
}

.success-btn {
  background-color: #dff0d8;
  color: #3c763d;
}

.warning-btn {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.error-btn {
  background-color: #f2dede;
  color: #a94442;
}
